Node-RED/Different_Node.json
[{"id":"c207103b.cbb2d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bbf00f24.65abc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75f25020.9ef3","type":"RF24radio","z":"","name":"RF0","ce":"17","cs":"0","palevel":"3","datarate":"2","channel":"76","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"ae1557.a771caa8","type":"mqtt-broker","z":"","name":"VerneMQ","broker":"172.18.22.9","port":"1886","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6e67cbf.b68f8","type":"RF24radio","z":"","name":"New Device","ce":"25","cs":"0","palevel":"3","datarate":"0","channel":"76","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"9c9490e9.02a7d","type":"RF24radio","z":"","name":"New one","ce":"25","cs":"0","palevel":"3","datarate":"0","channel":"76","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"2a925735.efbdb8","type":"RF24radio","z":"","name":"RF0","ce":"17","cs":"0","palevel":"3","datarate":"2","channel":"76","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"14558ec3.6958e1","type":"mqtt out","z":"bbf00f24.65abc","name":"","topic":"a/b/c","qos":"","retain":"","broker":"ae1557.a771caa8","x":650,"y":500,"wires":[]},{"id":"5e8b3093.6ff45","type":"RF24input","z":"bbf00f24.65abc","name":"Node 1- 4e31","topic":"nrf24","radio":"2a925735.efbdb8","outputstring":true,"pipeaddress":"0x65646f4e31","autoack":true,"x":290,"y":100,"wires":[[]]},{"id":"dc378350.81865","type":"debug","z":"bbf00f24.65abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":120,"wires":[]},{"id":"e9338365.8141b","type":"RF24input","z":"bbf00f24.65abc","name":"Node 2- 4e32","topic":"nrf24","radio":"2a925735.efbdb8","outputstring":true,"pipeaddress":"0x65646f4e32","autoack":true,"x":290,"y":180,"wires":[[]]},{"id":"94734148.c2a3b","type":"RF24input","z":"bbf00f24.65abc","name":"Node 3- 4e33","topic":"nrf24","radio":"2a925735.efbdb8","outputstring":true,"pipeaddress":"0x65646f4e33","autoack":true,"x":290,"y":260,"wires":[["dc378350.81865","66e51184.7e38b"]]},{"id":"66e51184.7e38b","type":"RF24output","z":"bbf00f24.65abc","name":"","radio":"75f25020.9ef3","pipeaddress":"0x65646f4e36","autoack":true,"x":680,"y":300,"wires":[]}]