Node-RED/NRF_With_MQTT.json
[{"id":"b94fead4.7a3228","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a0a4a8d8.dfffe8","type":"RF24input","z":"b94fead4.7a3228","name":"Receiver","topic":"nrf24","radio":"fe4b35c6.46c5c8","outputstring":true,"pipeaddress":"0x65646f4e31","autoack":true,"x":200,"y":120,"wires":[["3744b40a.1481ec"]]},{"id":"d87c8793.5161a8","type":"mqtt out","z":"b94fead4.7a3228","name":"","topic":"a/b/c","qos":"","retain":"","broker":"93b03266.4a87c","x":330,"y":320,"wires":[]},{"id":"3744b40a.1481ec","type":"debug","z":"b94fead4.7a3228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":200,"wires":[]},{"id":"37566433.fa5adc","type":"inject","z":"b94fead4.7a3228","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[[]]},{"id":"fe4b35c6.46c5c8","type":"RF24radio","z":"","name":"RF0","ce":"17","cs":"0","palevel":"3","datarate":"2","channel":"76","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"93b03266.4a87c","type":"mqtt-broker","z":"","name":"VerneMQ","broker":"172.18.22.9","port":"1886","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]