Node-RED/NRF_With_MQTT.json
[{"id":"f37c3a9d.20c6c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f4e30623.6a4628","type":"RF24radio","z":"","name":"RF0","ce":"17","cs":"0","palevel":"3","datarate":"2","channel":"76","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"b286a36e.12425","type":"mqtt-broker","z":"","name":"VerneMQ","broker":"172.18.22.9","port":"1886","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7730fbff.36aa54","type":"RF24input","z":"f37c3a9d.20c6c8","name":"Receiver","topic":"nrf24","radio":"f4e30623.6a4628","outputstring":true,"pipeaddress":"0x65646f4e31","autoack":true,"x":240,"y":120,"wires":[["4f4c6af8.f2d864"]]},{"id":"a9d92c83.3685e","type":"mqtt out","z":"f37c3a9d.20c6c8","name":"","topic":"a/b/c","qos":"","retain":"","broker":"b286a36e.12425","x":370,"y":320,"wires":[]},{"id":"4f4c6af8.f2d864","type":"debug","z":"f37c3a9d.20c6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":200,"wires":[]},{"id":"ac36ef9f.571f9","type":"inject","z":"f37c3a9d.20c6c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[[]]}]